// Define variables for your color scheme


// Colors:
$blue: #469AE0;
$green: #25c558;
$yellow: #FDB631;
$orange: #E67E22;
$red: #F00941;

$brand-yellow: #ffde7d;
$brand-red: #F00941;
$brand-gray: rgb(216, 216, 216);

// Graytones:
$white: white;
$light-gray: #F4F4F4;
$gray: #333333;
$black: black;


